.st-form-group {
  margin-top: 16px;

  &.required {
    label:after {
      content: " *";
      color: $magenta;
    }
  }

  label {
    display: inline-block;
  }

  &.invalid .form-group-error {
    display: block;
    color: $invalid;
  }

  .form-group-error::before {
    background-image: url(../../assets/varning.png);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position-y: 2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: "";
    margin-right: 6px;
  }

  .form-group-error {
    display: none;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
  }
}
